.notFound{
    position: relative;
}
.back-home{
    position:absolute;
    text-decoration: none;
    font-size:20px;
    color: #fff;
    height:50px;
    width: 170px;
    background: #ee9b00;
    text-align: center;
    line-height:50px;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: 0.5s ease-in-out;
}
.back-home i{
    margin-right: 10px;
}
.back-home:hover{
    background: #fff;
    color: #ee9b00;
}