.main-header{
    background: #191919;
    padding: 10px 0;
    
    }
    .header{
        display:flex;
        justify-content:space-between;
        align-items: center;
    }
    .header img{
        height:40px;
    }
    .header .menu {
        position: relative;
        list-style: none;
        text-decoration: none;
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        font-size:18px;
        padding-bottom: 3px;
    }
    .logo{
        color:whitesmoke;
    }
    .header .menu::after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: #ee9b00;
        border-radius: 2px;
        transition: 0.5s ease-in-out;
    }
    .header .menu:hover:after{
        width: 100%;
    }
    .header .selected.menu {
        position: relative;
        color: #ee9b00;
    }
    .header .selected.menu::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #ee9b00;
        border-radius: 2px;
    }
    